<?xml version="1.0"?>
<launch>

<!--  load Gazebo and the simulated environment  /-->
<include file="$(find gazebo_pkg)/launch/mybot_world.launch"/>


<!-- run depth image to laser scan node with its parameters     /-->

<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" > 
<param name="output_frame_id" value="kinect" />
  <remap from="image" to="/camera/depth/image_raw"/>
</node>


<!--  load the amcl and the node of navigating the base and the map server      /-->
<include file="$(find mybot_nav)/launch/amcl.launch"/>

<!--  control node    /-->
<include file="$(find mybot_nav)/launch/mybot_teleop.launch"/>


<!-- Rviz node     /-->
<include file="$(find mybot_description)/launch/mybot_rviz.launch"/>
</launch>
