<?xml version="1.0"?>
<launch>

<include file="$(find gazebo_pkg)/launch/mybot_world.launch"/>

<!--param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'"/-->

<include file="$(find freenect_launch)/launch/freenect.launch"/>

<include file="$(find mybot_description)/launch/mybot_rviz.launch"/>

<!--  depth to laser scan -->
<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" > 
<param name="output_frame_id" value="camera_depth_frame" />
  <remap from="image" to="/camera/depth/image_raw"/>
</node>

<!-- publishing odometry from hardware -->
  <node name="odom_pub" pkg="odom_pub" type="odom_pub_node"/>

<!-- open the rosserial from other terminal -->

<node name="teleopt_twist" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>




<!-- gmapping node -->
<include file="$(find mybot_nav)/launch/gmapping.launch"/>
<!-- customized teleop node with max velocity parameter as initials -->

<!--include file="$(find mybot_nav)/launch/mybot_teleop.launch"/-->

 


<!-- Rviz node -->
<!--node name="rviz" pkg="rviz" type="rviz"/-->
<!-- include file="$(find mybot_description)/launch/mybot_rviz.launch"/ -->
</launch>









